*{
    padding:0;
    margin: 0;
    font-family: "苹方";
    list-style: none;
    box-sizing: border-box;
}
/*导航动画*/
.djDataBox_right ul li:hover{
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.2),0px 4px 20px 4px  rgba(0, 0, 0, 0.19);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
body{
    background: #222934;
}
.djDataBox{
    width: 100%;
}
.djDataBox_nav{
    width: 100%;
    height:88px;
    background:#002860;
    line-height: 88px;
    position: relative;
}
.djDataBox_left{
    display: inline-block;
    width: 315px;
    height: 48px;
    background: url(../img/dj0.png) no-repeat center;
    background-size: 315px 48px;
    vertical-align: middle;
    margin-left: 63px;
    line-height: 48px;
    text-align: center;
}
.djDataBox_word{
    color: #05d1ff;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
.djDataBox_right{
    height: 48px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -24px;
    line-height: normal;
    width: 622px;
}
.djDataBox_right ul li{
    float: left;
    height: 48px;
    width: 106px;
    background: url(../img/dj2.png) no-repeat center;
    background-size: 106px 48px;
    margin-right: 52px;
    line-height: 48px;
    text-align: center;
    color:#ffffff;
    font-size: 14px;
    font-weight: 400;
}
.djDataBox_right ul li a{
    color:#ffffff;
    text-decoration: none;
}
.djDataBox_right ul li:last-child{
    margin-right: 15px;
    background: url(../img/dj1.png) no-repeat center;
}
.partyData{
    margin-top: 30px;
    margin-left: 21px;
    margin-bottom: 32px;
}
.branch{
    display: inline-block;
    font-size: 16px;
    color:#ffffff;
    font-weight: 500;
    margin-right: 10px;
}
.partyData_Chart{
    width: 100%;
    margin: auto;
}
.partyData_Chart>ul>li{
    float: left;
    width: 33.33%;
    margin-bottom: 20px;
}
/*.partyData_Chart>ul>li>div{*/
    /*margin: auto;*/
    /*width: 90%;*/
    /*height: 400px;*/
/*}*/
.partyData_Chart>ul>li>div>div:first-child{
    background: url("../img/dj13.png") no-repeat center;
    background-size: 100% 100%;
    height:50px;
    width: 45%;
    margin: auto;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 12px;
}
.partyData_Chart ul li>div>div:last-child{
    width: 92%;
    height: 334px;
    background: url("../img/dj22.png") no-repeat center;
    background-size: 100% 100%;
    margin: auto!important;
    
}
.partyData_Chart ul li>div>div:last-child>div{
    left: 5%;
	
}
.basicFacts{
    margin-top: 56px;
 }
/*.basicFacts div{*/
    /*margin-bottom: 20px;*/
/*}*/
.basicFacts div div{
    display: inline-block;
    width:100%;
    /*text-align: right;*/
    /*margin-right: 20px;*/
    color:#ffffff;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
}
.basicFacts div  span{
    color:#e74243;
    font-size: 36px;
}
#age div,#sex div,#nation div{
    overflow: visible!important;
}
.dangDh{width: 100%;height: 167px;border: 1px solid #8d8d8d}
.positOins{display: block;text-align: center;margin-top: 12px;font-size: 36px;}
