body{
    font-family: "苹方";
    background: #f1f3f7;
}
*{
    padding: 0;
    margin: 0;
    font-family: "苹方";
}
.talkRecord{
    height:44px;
    background:#f1f1f1 ;
    line-height: 44px;
    font-size: 16px;
}
.talkRecord img{
    width: 15px;
    margin-left: 42px;
    margin-right: 10px;
    vertical-align: middle;

}
.back{
    margin-right: 20px;
}
#backBtn{
    cursor: pointer;
}
.rulesHead{
    margin-left: 5px;
    overflow: hidden;
    background: #ffffff;
    width:98%;
    padding-bottom: 52px;
}
.rulesHead>ul{
    background: #f1f3f7;
    overflow: hidden;
}
.rulesHead>ul>li{
    list-style: none;
    width: 200px;
    height: 44px;
    border-radius: 6px 6px 0 0;
    background: #ffffff;
    float: left;
    text-align: center;
    line-height: 44px;
    margin-right: 4px;
    font-size: 16px;
    color:#797e80;
    cursor: pointer;
}
.topInput{
    margin-top: 17px;
    margin-left: 89px;
}
.topInput div{
    display: inline-block;
    font-size: 14px;
}
.topInput div:nth-child(1),.topInput div:nth-child(3){
    color:#797e80;
}
.topInput>div:first-child{
    margin-right: 18px;

}
.topInput>div:nth-child(2) input{
    width: 214px;
    height: 30px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    outline: none;
}
.topInput>div:nth-child(3){
    margin-left: 10px;
    margin-right: 18px;
}
.topInput>div:nth-child(4){
    width: 127px;
    height: 27px;
    position: relative;
}
.topInput>div:nth-child(4)>input{
    width:125px;
    height: 25px;
    border:1px solid #d2d2d2;
    outline: none;
}
.topInput>div:nth-child(4)>img{
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    height: 100%;
}
.searchB{
    color:#ffffff;
    background: #2196f3;
    width: 68px;
    height: 30px;
    border-radius:2px ;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    float: right;
    margin-right: 35px;
    cursor: pointer;
}
.tableList{
    margin-left: 32px;
    margin-right: 44px;
    width: 100%;
}
table{
    width: 95%;
    color:#797e80;
    font-size: 14px;
    border: 1px solid #e6e5e4;
    border-top: 1px solid transparent;
    border-bottom:1px solid transparent;
}

table tr td{
    text-align: center;
    border-right: 1px solid #e6e5e4;
    border-bottom:1px solid #e6e5e4;

}
table tr td:last-child{
    border-right:1px solid transparent;
}
table th:last-child{
    border-right:1px solid transparent;
}
table th{
    background: #efefef;
    padding: 8px 7px;
    border-right: 1px solid #e6e5e4;
    border-bottom:1px solid #e6e5e4;
}
table tr td:nth-child(2){
    text-align: left;
    padding: 10px;
}
table tr td:nth-child(3){
    width: 10%;
}
table tr td:nth-child(4){
    text-align: center;
    padding: 10px;
}
table tr td:nth-child(5){
    text-align: center;
    padding: 10px;
}
table tr td:nth-child(6){
    text-align: center!important;
    padding: 15px;
}
table tr td:nth-child(6)>span{
    color:#2196f3;
    margin: 0 13px;
    cursor: pointer;
}
table tr td:nth-child(6)>span img{
    width: 8px;
}

.tableList{
    margin-top: 17px;
}
.chaK{
    color:#2196f3;
    cursor: pointer;
}
.kaoKind,.kaoKind input{
    cursor: pointer;
}
.chaK{
    color:#2196f3;
    cursor: pointer;
}
.kaoKind{
    position: relative;
}
#checkKind{
    position: absolute;
}
.kaoKind,.kaoKind input{
    cursor: pointer;
}
.rulesKind,.rulesKind input{
    cursor: pointer;
}

.rulesKind,.kaoKind,.kaoPKind,.rulesPartyKind{
    position: relative;
}
.selectBtn ul li,.rulerBtn ul li,.PartyMrulerBtn ul li,.selectPartyBtn ul li{
    list-style: none;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px 0;
}
.selectBtn,.rulerBtn,.PartyMrulerBtn,.selectPartyBtn{
    z-index: 100000;
    width: 99%;
    position: absolute;
    top: 26px;
    background: #e0e0e0;
    border: 1px solid #d5d5d5;
    height: auto;
    overflow: auto;
    left: 0;
}
.selectBtn ul,.rulerBtn ul,.PartyMrulerBtn ul,.selectPartyBtn ul{
  height: auto;
  overflow: auto;
}
.activeSelcet {
    background: #2198f2 !important;
    color: #ffffff !important;
}
