body{
    font-family: "苹方";
}
.talkRecord{
    height:44px;
    background:#f1f1f1 ;
    line-height: 44px;
    font-size: 16px;
}
.talkRecord img{
    width: 15px;
    margin-left: 42px;
    margin-right: 10px;
    vertical-align: middle;
}
.back{
    margin-right: 20px;
}
#fileUpload,#upload{
    cursor: pointer;
}
.talkInput{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 14px;
}

.talkRight{
    float: right;
}
.time,.local{
    display: inline-block;
}
.inputBox{
    display: inline-block;
    width: 80%;
}
.talkLeft div>div:first-child,.talkRight div>div:first-child{
    margin-right: 14px;
    text-align: right;
    font-size: 14px;
    width: 10%;
}
.talkLeft div>div,.talkRight div>div{
    display: inline-block;
    vertical-align: text-top;
}
.talkLeft div>div:last-child input,.talkRight div>div:last-child input{
    width:250px;
    height: 26px;
    border: 1px solid #d2d2d2;
    outline: none;
    border-radius: 2px;
}
.talkLeft{
  width: 100%;
    margin-top: 24px;
}
.talkRight{
    width: 50%;
}
.talkLeft>div,.talkRight>div{
    margin-bottom: 12px;
}
.textA{
    width: 100%;
    clear: both;
}
.textA>div:first-child{
    display: inline-block;
    width: 10%;
    text-align: right;
    font-size: 14px;
}
.textA>div:last-child{
    display: inline-block;
    width: 88%;
    margin-left: 9px;
}
.textA>div:last-child textarea{
    width: 91.2%!important;
    border: 1px solid #d2d2d2;
    height: 336px;
    vertical-align: top;
    outline: none;
    border-radius: 2px;
}
#back{
    cursor: pointer;
}
.fuJ{
    font-size: 14px;
    width: 100%;
    margin-top: 27px;
}
.fuJ>div:first-child{
    width: 10%;
    text-align: right;
    margin-right: 14px;
}
#fileUpload{
    width: 338px;
    height: 26px;
    line-height: 26px;
    background: #f1f1f1;
    text-align: center;
}
.fuJ>div{
    display: inline-block;
}
#fileUpload img{
    width: 14px;
    vertical-align: middle;
    margin-right: 18px;
}
.fuJList{
    width: 100%;
    margin-top: 20px;
    margin-left: 11.5%;
    font-size: 14px;
    color:#2198f2;
}
.fuJList a{
    color: #2198f2!important;
    margin-right: 17px;
}
.btnList{
    text-align: center;
}
#submit,#cancel{
    display: inline-block;
    width:112px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    padding: 0 0;
    border: 1px solid #2198f2;
    border-radius:4px ;
    margin: auto;
    font-size: 18px;
    background:#2198f2;
    margin-top:32px;
}
#submit{
    outline: none;
    border-color:#2198f2;
    cursor: pointer;
    margin-right: 40px;
}
#cancel{
    width:116px;
    background: #ffffff;
    color:#4d4d4d;
    border: 1px solid #c4c4c4;
    padding: 0 0;
    outline: none;
    cursor: pointer;
    margin-left: 40px;
}
.redX{
    color:#d8272a
}
.inputBox img{
    width: 104px;
    height: 100px;
    margin-right: 10px;
}
