.floatB{
    float: left;
}
ul li{
    list-style: none;
}
ul{
    margin:0;
}
.searBtn{
    float: right;
    height: 50px;
    line-height: 50px;
}
.searBtn input{
    height: 28px!important;
    border: 1px solid transparent!important;
    border-radius: 5px 0 0 5px!important;
    line-height: initial!important;
    padding: 0!important;
}
.tit{
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}
.btnS{
    border: 1px solid transparent;
    height: 28px;
    background: red;
    color: #ffffff;
    outline: none;
    line-height: 16px;
    width:57px;
    border-radius: 0 5px 5px 0!important;
    font-size: 16px;
    padding: 0!important;

}

table{
    width:100%;
    /*text-align: center;*/
    background: #FAFAFA;
}
table th{
    text-align: center;
    padding: 11px 0;
    font-size: 16px;
    font-weight: normal;
}
table tr ,table td{
    padding: 17px 0;
    font-size: 14px!important;
}
table tbody{
    border-bottom: 1px solid #BCBCBC;
}
table tbody tr{
    border-top: 1px solid #D7D7D7;
    font-family: "微软雅黑";
}
table tbody tr a{
    color:#2196f3;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 403px;
    padding-left: 30px;
}
table tbody tr a:hover{
    text-decoration: none;
}
.tableB{
    padding-left: 0;
    padding-right: 0;
}
.rank{
    padding-left:0;
    padding-right:0;
}
.line_{
    margin: 32px 21px;
}
.list{
    padding-right: 0;
}

.pubB{
    background: red;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 18px;
    margin-right: 20px;
}

.nav.nav-tabs.padding-16{
    padding-left: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-top: 2px solid red;
}
.inbox-tabs.nav-tabs > li.active:not(.open) > a, .inbox-tabs.nav-tabs > li.active:not(.open) > a:hover, .inbox-tabs.nav-tabs > li.active:not(.open) > a:focus{
    background-color: #FAFAFA;
}
.cancel{
    margin-right: 10px;
}
.nav-tabs > li > a:hover{
    background: #ffffff!important;
}
.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a{
    background: #FAFAFA!important;
}
.nav > li > a{
    padding: 15px 6px;
}
.wrapB{
    padding-left:0;
    padding-right: 0;
}
.nav-tabs > li.active>a{
    color:#333333;
}
.nav-tabs > li>a{
    color:#666666;
    font-size: 16px;
    background: #F4F4F4;
}
.changeDot {
    width: 94%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-left: 30px;
}
/*分页*/
.dataTables_paginate{
    text-align: center;
}
.pagination > li > a{
    border-radius: 28px!important;
    margin-left: 14px;
}
.previous a,.next a{
    border-color:transparent!important;
    background: #ffffff!important;
}
.pagination > li.active > a, .pagination > li.active > a:hover{
    background-color: red!important;
    border-color: red!important;
    color:#ffffff!important;
}
.pageCode a{
    color: #000000!important;
}
.pagination > li > a, .pagination > li > span{
    padding: 2px 8px;
}
.divpage {
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav.nav-tabs.padding-18{
    background-color: #f3f3f3;
    padding-left: 0;
    margin-bottom:1px!important;
    padding-right: 41px;
}
.inbox-tabs.nav-tabs.tab-size-bigger > li > a{
    padding: 21px 15px 7px;
}
.message-navbar{
    background-color: transparent;
}
.page-content{
    margin-top: 10px;
    padding: 8px 10px 24px;
}
.listNotice{
    margin-right: 0px!important;
    margin-left: 0px!important;
}

/**搜索按钮**/
.searchB {
    float: right!important;
    margin-top: 6px!important;
}
.searchBTN {
    margin-top: -2px;
}
.input-icon > input {
    padding-left: 4px;
    height: 22px;
    border: 1px solid transparent;
    border-radius: 5px!important;
    margin-top: 8px;
    outline: none;
}
.input-icon > .ace-icon {
    right: 3px!important;
    left: auto!important;
    color: #9E9E9E!important;
    font-size: 11px !important;
    line-height: 23px !important;
    margin-top: 8px;
}
.addN {
    float: right!important;
    color: red;
    margin-left: 11px;
    margin-bottom: -2px!important;
    margin-top: 10px!important;
    cursor: pointer;
}
.addN span {
    margin-left: -3px!important;
    font-size: 16px;
}
.icon-xinzeng {
    font-size: 27px;
    vertical-align: middle;
}
.icon-xinzeng {
    font-size: 27px;
    vertical-align: middle;
}
::-webkit-input-placeholder { /* WebKit browsers */
    font-size:12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size:12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:12px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size:12px;
}
.input-icon > input:hover,.input-icon > input:focus{
    outline: none;
    border-color:transparent ;
}